body{
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium',  sans-serif;
    text-align: center;
    direction: rtl;
}

h1 {
    color: #6A0DAD;
    font-size: 2.5rem;
}

p{
    color:#333;
    font-size: 1.2rem;
}